header{
        background-color: #000327;
}
title{
    color: #7f86d2;
}
body{
    background-color: #21233d;
    max-width: 1000px;    
    margin:0 auto;
}
main{
    text-align: center;
}
h1{
    color: #8d93c7;
    font-family: verdana, arial;
}
h2{
    color: #8d93c7;
}
h3{
    color: #828499;
}
p{
    color: #828499;
    font-family: "lucida console", "courier new";
    font-size: 16px;
}
span{
    color: #8d93c7;
    font-family: "lucida console", "courier new";
    font-size: 16px;
}
pre{
    color: #828499;
    font-family: "lucida console", "courier new";
    font-size: 16px;
}

.upper{
    display: inline-flex;
    text-align: left;
    justify-content: center;
    line-height: 40px;
}

.header-links-element{
    background-color: #171a35;
    border-color: white;
    padding: 2px;
    height: 40px;
    width: 100%;
    text-align: left;
    display: block;
}

.header-follow-element{
    background-color: #000327;
    height: 40px;
    width: 100%;
    line-height: 40px;
    display: block;
}

.hyperlink-icon:hover img{
    scale: 1.1;
}

.main-block{
    display: inline-flex; 
    gap: 10px
}

#img {
    max-width:50%; 
    height: auto; 
    object-fit:scale-down;
}

@media only screen and (max-width: 700px) {
  .main-block {
    display: block; 
  }
  #img {
    max-width:80%; 
}
}
/* Hyperlinks */
a:link {
  color: #8f6944;
}

/* visited link */
a:visited {
  color: #7f86d2;
}

/* mouse over link */
a:hover {
  color: #8f6944;
}

/* selected link */
a:active {
  color: blue;
}